Plug 'machakann/vim-highlightedyank'
Plug 'preservim/nerdtree'


set scrolloff=15
set showmode
set showcmd
set visualbell
set clipboard+=unnamed
set ignorecase
set smartcase
set incsearch
set hlsearch


let mapleader=" "

nnoremap <C-l> :tabnext<CR>
nnoremap <C-h> :tabprev<CR>

inoremap <C-j> <Action>(PopupMenu-selectNext)
inoremap <C-k> <Action>(PopupMenu-selectPrev)

map <leader>e :NERDTree<CR>
map <leader>q :NERDTreeClose<CR>

map <leader>sf <Action>(GotoFile)
map <leader>sw <Action>(FindInPath)
map <leader>gd <Action>(GotoDeclaration)
map <leader>pv <Action>(RecentFiles)

map <leader>bd :bd<CR>

map <leader>br <Action>(ToggleLineBreakpoint)
map <leader>db <Action>(Debug)

map <leader>w <Action>(Save)
